*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
list-style: none;

}
body a{
color: black;
}
.goback{
position:fixed;
text-align: left;
padding-left: 30px;
z-index: 999999999999;
background: none;
}
.goback a{
color: white;
font-size: 45px;

}
.goback span{
padding: 10px;

}
.container{
display: grid;
grid-template-columns: 1fr 1fr;
height: 100vh;
width: 100%;
background: #131313;
background:  url(/img/core-img/mall.jpg);
background-size: cover;
background-repeat:no-repeat ;
}

.left{
background:  linear-gradient(60deg, rgba(44, 44, 44, 0.151), #1313133d) , url(/img/core-img/pebbles.jpg);
background-size: cover;
/* background-position-y: -20px; */
background-repeat:no-repeat ;

clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100% );
position:relative;
height: 100%;
z-index: 3;

}
.left img{
display: none;
}
.leftctn{
position: absolute;
left: 17%;
top: 50%;
transform: translateY(-50%);
font-size: 50px;
color:rgb(255, 255, 255);
/* transition: all ease-in-out 2s; */
}
.leftctn:hover{
color: #ffc107ba;
}
.right{
margin-top: 4%;
margin-bottom: 4%;
margin-left: -150px;
padding-left: 150px;
background:rgb(255, 255, 255);
display: block;
/* grid-template-columns: repeat(auto-fill, minmax(260px,1fr)); */
/* transition: all ease-in-out 2s; */

}
.right .ctn{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(226px,1fr));
width: 100%;
/* margin-left: 50px; */
grid-gap:40px;
}
.right p{
padding: 20px;
}
.complaint{
border-radius: 5px;
text-align: center;
width: 200px;
height: 170px;
z-index: 1;
margin-left: 20px;
padding-top: 10px;
box-shadow: -2px -2px 8px rgba(231, 227, 227, 0.692), 
        -2px -2px 12px rgba(255, 255, 255, 0.93),
            inset 2px 2px 4px rgba(255, 255, 255, 0.12), 
            2px 2px 8px #00000085;
}
.complaint:hover{
box-shadow:  inset -2px -2px 2px #e2dede, inset 2px 2px 2px rgba(7, 7, 7, 0.411);
color: #f96f05da;
}
.complaint h3{
margin-top: -20px;
margin-bottom: 20px;
/* background: #009688b0; */
width: 157px;
margin-left: 20px;
border-radius: 100px;
/* box-shadow: -2px -2px 3px #3333338c, 2px -2px 2px #3333334a; */
color:#000000;
}
.complaint img{
width: 50px;
height: 50px;
border-radius: 50%;   
}
.complaint img:hover{
box-shadow:  inset -2px -2px 2px #e2dede, inset 2px 2px 2px rgba(7, 7, 7, 0.411);
padding: 3px;

}
#abt{
text-align: center;
font-size: 20px;
font-weight: 900;
padding-top: 5px;
height: 50px;
}
#join{
text-align: center;

}
#join a{
color: white;
text-decoration: none;
}
#join a:hover{
color: #ff9800;
}
#join a span{
width: 50px;
height: 20px;
padding: 10px;
background: #131313;
border-radius: 100px;
box-shadow: inset 2px 2px 2px #ffffff3b
}
/* social links */
.social{
    position:fixed;
    z-index: 9999;
    right:5px;
    top:50%;
    transform: translateY(-30%);
    display: block;
}
.social ul a li{
    line-height: 40px;
}
.social ul a li img{
    width:30px;
    height:auto;

}
@media screen and (max-width: 768px){
.leftctn {
position: absolute;
left: 8%;
top: 37%;
transform: translateY(-50%);
font-size: 30px;
color: rgb(255, 255, 255);
}
}
@media screen and (max-width:480px){
.goback{
position:fixed;
text-align: left;
padding-left: 10px;
z-index: 999999999999;
}
.goback a{
color: white;
font-size: 32px;

}
.goback span{
padding: 0;

}
.container{
display: grid;
grid-template-columns: 1fr;
background: none;
}
.left{
height: 200px;
clip-path: none;
background: none;

}
.left img{
display: block;
position: fixed;
height:200px;
width: 100%;
border-bottom-right-radius: 10%;
border-bottom-left-radius: 10%;

}
.leftctn{
position: fixed;
left: 50%;
top: 60px;
transform: translate(-50% ,0);
font-size: 27px;
text-align: center;
color:#ffffff;
}
.right{
margin-top: -10%;
margin-left: 0;
padding-left: 0;
}
.right ul{
padding-left: 40px;
}
#abt{
padding-top: 45px;
}

.complaint{
margin-left: 50%;
transform: translateX(-50%)
}
.social{
    transform: translateY(-8%);
}
}
    
            