*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* white-space: normal; */
}
body{
    margin: 0;
    padding: 0;
}
body a{
    color:black;
}
h2,h4,h5{
    margin-left: 20px;
    padding: 10px 0;
}
.container{
    margin-top: 73px;
    display: block;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
.container a{
    text-decoration: underline;
}
.container p{
    margin: 0  20px;
    line-height: 25px;
    padding: 10px 0;
}
.container ul{
    margin: 0  10vw;
    padding: 10px 0;
}
.container ul li{
    list-style-type: disc;
    padding: 8px 0;
    font-size: 15px;
}
.marg{
    margin: 0 10vw;
}
h3{
    font-size: 25px;
    text-align: center;
    padding: 20px 0;
    /* position: sticky;
    top: 70px; */
    background: #fff;
    z-index: 99;
}
.container div  div{
    margin: 0 20px;
    line-height: 25px;
}
.container div div p{
    margin-left: 0;
}
.fac{
    /* height: 70px; */
    overflow: hidden;
}
.pag{
    position: absolute;
    font-size:20px;
    cursor: pointer;
}
.plus{
    display: inline-block;
    margin-left:10px;
}
.minus{
    display: none;
    margin-left:10px;
}
@media screen and (max-width: 480px){
    .marg{
        margin: 0;
    }
    .container div div h4{
        margin-left: 0;
    }
}